﻿fieldset {
    border: 2px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 auto !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend {
    text-align: center !important;
    font-weight: 500 !important;
}
[data-role="grid"], .k-link {
    text-align: center !important;
    font-weight: bold !important;
}