﻿@{
    ViewData["Title"] = "Creación de Formulario";
}
<script src="~/js/JSCreationForm.js"></script>
<div class="row m-3">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Agregar</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Ver</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <fieldset>
                    <legend>
                        <strong>Pais y Empresa</strong>
                        <hr />
                    </legend>
                    <div id="div-empresa-pais" class="row m-3">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pais :</span>
                                </div>
                                <select id="cmbpais" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Empresa :</span>
                                </div>
                                <select id="cmbempresa" class="form-control"></select>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <strong>Agregar Control</strong>
                        <hr />
                    </legend>
                    <div class="row m-3">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tipo Control :</span>
                                </div>
                                <select id="cmbtpc" class="form-control">
                                    <option value="-1">Seleciones</option>
                                    <option value="date">FECHA</option>
                                    <option value="email">EMAIL</option>
                                    <option value="number">NÚMERO</option>
                                    <option value="text">TEXTO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre Boton :</span>
                                </div>
                                <input type="text" class="form-control" id="txtnomc">
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-6">
                            <button id="btnadd" class="btn btn-outline-primary btn-block">Agregar</button>
                        </div>

                        <div class="col-md-6">
                            <button id="btnclean" class="btn btn-outline-danger btn-block">Limpiar</button>
                        </div>
                    </div>
                    <div class="row m-3">
                        <h3>Controles agregados</h3>
                        <hr />
                        <div id="div-grid-controles"></div>
                    </div>


                </fieldset>

                <div class="row m-3">
                    <div class="col-md-6">
                        <button id="btnconfirm" class="btn btn-outline-primary btn-block">Guardar</button>
                    </div>

                    <div class="col-md-6">
                        <button id="btnclean" class="btn btn-outline-danger btn-block">Limpiar</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <fieldset>
                    <legend>
                        <strong>Bosquejo del Formulario</strong>
                        <hr />
                    </legend>
                    <div class="row m-3">
                        <div class="col-md-12">
                            <nav class="navbar navbar-dark bg-dark">
                                <a class="navbar-brand" href="#">
                                    <img id="imgemp" src="" width="60" height="40" alt="">
                                    <strong><label id="lblemp"></label></strong>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombres :</span>
                                </div>
                                <input type="text" class="form-control" id="txtnom">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Apellidos :</span>
                                </div>
                                <input type="text" class="form-control" id="txtapel">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">pais :</span>
                                </div>
                                <select id="cmbpais" class="form-control"></select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Celular :</span>
                                </div>
                                <input type="number" class="form-control" id="txtmovil">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password :</span>
                                </div>
                                <input type="password" class="form-control" id="txtpsw">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Empresa :</span>
                                </div>
                                <select class="form-control" id="cmbempresa1"></select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Afiliado :</span>
                                </div>
                                <input type="text" class="form-control" id="txtafiliado">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email :</span>
                                </div>
                                <input type="email" class="form-control" id="txtmail">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Usuario :</span>
                                </div>
                                <input type="text" class="form-control" id="txtuser">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Confirmacion Password :</span>
                                </div>
                                <input type="password" class="form-control" id="txtconfirmpsw">
                            </div>
                        </div>
                    </div>
                    <div class="row m-3" id="divadd"></div>
                    <div class="row m-3">
                        <div class="col-md-12">
                            <fieldset>
                                <legend><strong>Adjuntar Documentos</strong><hr /></legend>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <input class="file" id="fileDoc" name="file_upload" type="file">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-6">
                            <button class="btn btn-outline-primary btn-block">Guardar</button>
                        </div>

                        <div class="col-md-6">
                            <button  class="btn btn-outline-danger btn-block">Limpiar</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/ViewConfirmacion.cshtml");




