﻿@using BopDoctorsContactForms.Models.Entidades;
@{
    ViewData["Title"] = "Formulario";
}
<div class="row m-3">
    <input type="hidden" id="lblpais" value="@Model.idpais" />
    <input type="hidden" id="lblempresa" value="@Model.idempresa" />
    <div id="div-grilla">
        <fieldset>
            <legend>
                <strong>Lista de Pacientes</strong>
            </legend>
            <div id="div-grid-clientes"></div>
        </fieldset>
    </div>
</div>
    <script src="~/js/Formulario.js"></script>

