﻿
@{
    ViewData["Title"] = "FormClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="div-form" class="container">
    <input type="hidden" id="lblpais" value="@Model.idpais" />
    <input type="hidden" id="lblempresa" value="@Model.idempresa" />
    <input type="hidden" id="lblcod" value="@Model.nomc" />
    <div class="row m-3">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img id="imgemp" src="" width="60" height="40" alt="">
                    <strong><label id="lblemp"></label></strong>
                </a>
            </nav>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombres :</span>
                </div>
                <input type="text" class="form-control" id="txtnom" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellidos :</span>
                </div>
                <input type="text" class="form-control" id="txtapel" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">pais :</span>
                </div>
                <select id="cmbpais" class="form-control" disabled></select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Celular :</span>
                </div>
                <input type="number" class="form-control" id="txtmovil" disabled>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password :</span>
                </div>
                <input type="password" class="form-control" id="txtpsw">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Empresa :</span>
                </div>
                <select class="form-control" id="cmbempresa1" disabled></select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Afiliado :</span>
                </div>
                <input type="text" class="form-control" id="txtafiliado" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email :</span>
                </div>
                <input type="email" class="form-control" id="txtmail" disabled>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Usuario :</span>
                </div>
                <input type="text" class="form-control" id="txtuser">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirmacion Password :</span>
                </div>
                <input type="password" class="form-control" id="txtconfirmpsw">
            </div>
        </div>
    </div>
    <div class="row m-3" id="divadd"></div>
    <div class="row m-3">
        <div class="col-md-12">
            <fieldset>
                <legend><strong>Adjuntar Documentos</strong><hr /></legend>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input class="file" id="fileDoc" name="file_upload" type="file">
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="div-grid-doc"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-6 mb-3">
            <button id="btnconfirm" class="btn btn-outline-primary btn-block">Guardar</button>
        </div>

        <div class="col-md-6 mb-3">
            <button id="btnatras" class="btn btn-outline-danger btn-block">Limpiar</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/ViewConfirmacion.cshtml");
</div>

<script src="~/js/FormClient.js"></script>